:root {
  --fs-normal: 1.125rem;
  --fs-card-link: 0.9375rem;

  --fw-normal: 400;
  --fw-bold: 700;

  --clr-link: #000;

  --container-z-index: 10;
  --header-z-index: 100;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ISSUES!!!!! */

/*
 change link css var to class
*/

/* general styling */

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-normal);
  font-weight: var(--fw-bold);

  color: #251d20;
  position: relative;
  transition: background-color 500ms ease-out 200ms;
}

p {
  line-height: 25px;
}

a,
a:link,
a:visited {
  color: var(--clr-link);

  font-weight: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/* header */

.header {
  position: absolute;
  top: 20px;
  left: 20px;

  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 160px;
}

/* card */

.card.card--pink {
  --clr-link: #e568ac;
}

.card {
  --clr-link: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: var(--fs-card-link);
}

.card__img {
  width: 80%;
  max-width: 420px;
}

.card__title {
  font-size: var(--fs-normal);
  margin-bottom: 18px;
}

.card__buy-link {
  margin-bottom: 18px;
}

/* footer */
.footer {
  --clr-link: #000;

  position: relative;
  display: flex;
  flex-direction: column;

  padding: 0 25px;
  text-align: center;
}

.footer__description {
  margin-bottom: 4px;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}

.footer__copyright {
  font-size: 12px;
  font-weight: var(--fw-normal);
  margin-bottom: 20px;
}

.footer__contact {
  margin: 50px 0;
  text-align: center;
}

.footer__menu {
  display: none;
}

.menu-link {
  cursor: pointer;
}

.menu-link.current {
  font-weight: bold;
}

@media (min-width: 768px) {
  .header__logo {
    width: 260px;
  }

  .footer {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__description {
    width: 35%;
  }

  .footer__contact {
    position: absolute;
    right: 20px;
    bottom: 0;
    margin: 0;
  }
}

@media (min-width: 992px) and (min-height: 650px) {
  .footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 0;
    max-width: 264px;
    text-align: left;
  }

  .footer__description {
    width: 100%;
  }

  .footer__contact {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .footer__menu {
    position: absolute;
    z-index: 100;
    bottom: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;
    font-weight: var(--fw-normal);
    list-style-type: none;
  }
}

/* fullpage js */

.fp-watermark {
  display: none;
}
