:root {
  --fs-normal: 1.125rem;
  --fs-card-link: 0.9375rem;

  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;

  --clr-link: #fff;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styling */

body {
  font-family: "Roboto", sans-serif;
  transition: background-color 500ms ease-out 200ms;
}

a,
a:link,
a:visited {
  color: var(--clr-link);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.container,
.cards,
.cards__container,
.card {
  height: 100%;
}

/* utilities */

.my-3 {
  margin: 0.75rem 0;
}

/* cards */
.cards {
  overflow: hidden;
}

.cards__container {
  transition: all 700ms ease;
}

.card.card--pink {
  --clr-link: #e568ac;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: var(--fs-card-link);
  font-weight: var(--fw-bold);
}

.card__img {
  width: 80%;
  max-width: 420px;
}

.card__title {
  font-weight: var(--fw-semi);
  font-size: var(--fs-normal);
}
